@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --neutral-dark-blue: hsl(234, 12%, 34%);
  --neutral-grayish-blue: hsl(229, 6%, 66%);
  --neutral-light-gray: hsl(0, 0%, 98%);
  --font-family: 'Poppins', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***********/
/* DEFAULT */
/***********/

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/***********/
/* MY CODE */
/***********/

body {
  background-color: var(--neutral-light-gray);
  font-family: var(--font-family);
  font-size: 0.938rem; /* 15px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 315px;
  padding-block: 3rem;
}

.header {
  text-align: center;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--neutral-dark-blue);
}

.header__subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--neutral-dark-blue);
}

.header__text {
  font-weight: 400;
  color: var(--neutral-grayish-blue);
  padding-block: 1.5rem;
  margin-bottom: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  padding: 1.5rem;
  border-radius: 0.3rem;
  border-top: 0.3rem solid var(--cyan);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.card:nth-child(2) {
  border-color: var(--red);
}

.card:nth-child(3) {
  border-color: var(--orange);
}

.card:nth-child(4) {
  border-color: var(--blue);
}


.card__title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--neutral-dark-blue);
}

.card__text {
  font-weight: 400;
  color: var(--neutral-grayish-blue);
  padding-block: 0.5rem 2rem;
}

.card__image-container {
  display: flex;
  justify-content: end;
}

.card__image {
  width: 20%;
}